/* navbar */
body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar{
    width: 60%;
    margin: auto;
    
}
.brand{
    display: inline-block;
    font-size: 2rem;
    margin-top: 10px;
}
.gram{
    color:#6c55f9;
}
.nav-bar a{
    float:right;
    text-decoration: none;
    margin: 20px;
}

/* header content */
.header{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(246, 245, 252);
    width: 60%;
    position: relative;
    margin: auto;
    border-radius: 20px;
    color: #747192;
    padding-top: 60px;
    margin-top: 60px;
}
.header-h1{
    font-size: 3.2rem;
    width: 80%;
    margin-bottom: 50px;
}
.header-p{
    font-size: 1.5rem;
    width: 70%;
    margin-bottom: 50px;
}
.col-6{
    margin-left: 50px;
}
.header-head{
    padding-top: 50px;
    margin-left: 65px;
}
.btton{
    background-color:#5439f8 ;
    border: none;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 1.3rem;
    color: white;
    padding: 5px;
}
.btton:hover{
    background-color:#747192; ;
}

/* services */
.services{
    width:60%;
    position: relative;
    margin: auto;
    margin-top: 100px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body{
    text-align: center;

}

/* About us */
.about{
    width: 60%;
    position: relative;
    margin: auto;
    margin-top: 150px;
}
.about-img{
    padding-left: 40px;
}
.aboutline{
    width:10%;
    border: 3px solid green;
}
.about-h1{
    color: #747192;
}
.about-btn{
    width: 20%;
}